* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.top-hading {
    text-align: center;
    padding: 20px;    
    background-color: brown;
    color: aliceblue;
    background-size: 100%;
    margin-bottom: 20px;

}
.top-hading h2 {
    padding: 10px;
}

.secind-hading {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(185, 174, 174, 0.9);
    padding-bottom: 20px;
    align-items: end;
    
}
.btn {
    padding: 15px;
    border: 1px solid rgba(177, 171, 171, 0.9);
    border-radius: 20px;
    align-items: center;
    background-color: rgb(217, 217, 217, 0.9);
    transition: 0.3s;
    
}
.btn:hover {
    background-color: aliceblue;
}
@media screen and (max-width:768px){
    .secind-hading {
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .img-grop img {
        width: 80%;
    }
}
.form-select {
    display: flex;
    flex-direction: row;
}

.form-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

label{
    text-align: left;
    margin-bottom: 6px;
    color: #0056b3;
    font-size: 14px;
}

input, select{
    padding: 10px;
    border: 1.5px solid #28a745;
    border-radius: 4px;
    font-size: 14px;
    width:  100%;
    height: 60px;
    outline: none;
    transition: 0.3s;
}

input:focus, select:focus{
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0,86,179,0.2);
}

/* Responsive */
@media(max-width:768px){
    .form-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.container{
    width: 70%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.form-group{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 6px;
    color: #0056b3;
    font-size: 14px;
}

input, select, textarea{
    padding: 10px;
    border: 1.5px solid #28a745;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

input:focus, select:focus, textarea:focus{
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0,86,179,0.2);
}

textarea{
    resize: none;
    height: 80px;
}
.picture-section {
    width: 160px;
    height: 200px;
    border: 2px dashed #8a8acb;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.picture-section input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.picture-section span {
    color: #000;
    font-size: 16px;
}

.instructions {
    max-width: 400px;
    font-size: 15px;
    padding-top: 25px;
}

.instructions p {
    text-align: left;
    margin: 5px 0;
}
.photo {
    display: flex;
    gap: 20px;
    padding-left: 290px;
}
@media(max-width:768px){
    .photo{
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    .instructions{
        display: flex;
        flex-direction: row;
         gap: 20px;
    }
}